//- .container 
//-     ul#slides 
//-         li.slide.showing
//-         li.slide 
//-         li.slide
//-     .buttons
//-         button.controls#previons &lt;
//-         button.controls#next &gt;