extends ../template 

block variables 
    - var title = 'Обо мне' 

block content 
    div.wrapper
        div.container  
            div.content 
                header.head 
                    a.head__link(href="#")
                        img(src="assets/images/vk.svg", alt="")
                    a.head__link(href="#") 
                        img(src="assets/images/github.svg", alt="")
                    a.head__link(href="#") 
                        img(src="assets/images/in.svg", alt="")
                    div.dropdown 
                        div.drop 
                        div.drop 
                        div.drop
                section.about    
                    div.about-info 
                        div.info__avatar 
                            img(src="assets/images/olim.jpg", alt="").info__avatar-pic
                        div.info__title 
                            h1.info__title-name Саттаров Олимжон
                            p.info__title-text Личный сайт веб разработчика
                    div.scrol 
                section.my 
                    div.about-my 
                        div.my__content 
                            h1.about__title - ОБО МНЕ -
                            div.nav    
                                div.nav__avatar 
                                    img.nav__avatar-pic(src="asseta/images/olim.jpg")
                                div.nav__desc
                                    h3.nav__title - КТО Я 
                                    p.nav__text Я веб разработчик из Андижане. Мне 28 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
                        div.my__content 
                            h3.nav__title - чем я могу быть вам полезен
                            p.text Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачина Backend. Но давайте по порядку.
                            h4.title__name Frontend
                            div.my__content-img 
                            h4.title__name Backend
                            div.my__content-img 
                            h4.title__name WorkFlow
                            div.my__content-img
                
    