extends ../template 

block variables 
    - var title = 'Обо мне' 

block content 
    div.wrapper
        div.about  
            div.content 
                header.head 
                    a.head__link(href="#")
                        img(src="assets/images/vk.svg", alt="")
                    a.head__link(href="#") 
                        img(src="assets/images/github.svg", alt="")
                    a.head__link(href="#") 
                        img(src="assets/images/in.svg", alt="")
                    div.dropdown 
                        div.drop 
                        div.drop 
                        div.drop
                    

    