extends ../template 

block variables 
    - var title = 'Обо мне' 

block content 
    div.wrapper
        section.section.hero.hero__works 
            div.hero__header 
                ul.social__list 
                    li.social__item 
                        a(href="#").social__link
                            img(src="assets/images/vk.svg", alt="").social__link--pic
                    li.social__item 
                        a(href="#").social__link
                            img(src="assets/images/github.svg", alt="").social__link--pic
                    li.social__item 
                        a(href="#").social__link
                            img(src="assets/images/in.svg", alt="").social__link--pic
                div.hero__menu 
                    div.drop 
                    div.drop 
                    div.drop
            div.dev__desc 
                div.dev__desc-avatar
                    img(src="assets/images/olim.jpg", alt="").dev__desc-pic
                div.dev__desc-name Саттаров Олимжон
                div.dev__desc-desc Личный сайт веб разработчика
            div.down 
                img.down__icon(src="assets/images/arrow_down.svg") 
            .box
                svg.traingle(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 85', preserveaspectratio='none')
                    polygon.left-traingle(points='0,0   0,86   500.8,86   500.8,75.5')
                    polygon.right-traingle(points='1000,0   1000,86   500,86   500,75.5')
    section.my__work
        div.about__mywork 
            div.mywork__desc 
                div.mywork__desc-title
                    h1.title-1 -ОБО МНЕ-
                div.nav    
                    div.nav__avatar 
                        img.nav__avatar-picc(src="assets/images/olim.jpg", alt="")
                    div.nav__desc
                        h3.title-3 - КТО Я -
                        p.nav__text Я веб разработчик из Андижане. Мне 28 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
            div.mywork__info
                h3.mywork__title - чем я могу быть -  вам полезен 
                p.mywork__text Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачина Backend. Но давайте по порядку.
                h4.title__name Frontend
                ul.mywork__list 
                    li.mywork__item 
                        img(src="assets/images/HTML5.png", alt="").mywork__item-pic
                    li.mywork__item 
                        img(src="assets/images/CSS3.png", alt="").mywork__item-pic
                    li.mywork__item 
                        img(src="assets/images/js.png", alt="").mywork__item-pic
                h4.title__name Backend
                ul.mywork__list 
                    li.mywork__item 
                        img(src="assets/images/PHP.png", alt="").mywork__item-pic
                    li.mywork__item 
                        img(src="assets/images/mysql.png", alt="").mywork__item-pic
                    li.mywork__item 
                        img(src="assets/images/node.png", alt="").mywork__item-pic
                    li.mywork__item 
                        img(src="assets/images/mongo.png", alt="").mywork__item-pic
                h4.title__name WorkFlow
                ul.mywork__list.last-list
                    li.mywork__item 
                        img(src="assets/images/Git.png", alt="").mywork__item-pic
                    li.mywork__item 
                        img(src="assets/images/Gulp.png", alt="").mywork__item-pic
                    li.mywork__item 
                        img(src="assets/images/Bower.png", alt="").mywork__item-pic
    section.maps 
        div.contact 
            h1.contact__title - контакты -
            ul.contact__list 
                li.contact__item 
                    img(src="assets/images/skype.svg", alt="")
                    p.contact__text olimjon.sattarov
                li.contact__item 
                    img(src="assets/images/envelope.svg", alt="")
                    p.contact__text osattarov23@gmail.com 
                li.contact__item 
                    img(src="assets/images/phone.svg", alt="")
                    p.contact__text +7 910 449 83 33
                li.contact__item 
                    img(src="assets/images/map_marker.svg", alt="")
                    p.contact__text Москва
    footer.footer
        ul.foot__list 
            li.foot__item 
                ul.footmenu__list 
                    li.footmenu__item
                        a(href="my-works.html").footmenu__link Мои работы
                    li.footmenu__item
                        a(href="about.html").footmenu__link Обо мне
                    li.footmenu__item
                        a(href="blog.html").footmenu__link Блог
                    li.footmenu__item
                        a(href="welcome.html").footmenu__link Авторизация
            li.foot__item 
                ul.foot__social-list 
                    li.foot__social-item 
                        a(href="#").foot__link 
                            img(src="assets/images/vk.svg", alt="")
                    li.foot__social-item 
                        a(href="#").foot__link 
                            img(src="assets/images/github.svg", alt="")
                    li.foot__social-item 
                        a(href="#").foot__link 
                            img(src="assets/images/in.svg", alt="")
        hr.line
        div.foot__descc 
            div.foot__desc-text Я веб-разработчик из Андижане, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
            div.foot__desc-info © Владимир Астахов | создано с любовью в LoftSchool | 2016
