extends ../template 

block variables 
    - var title = 'Обо мне' 

block content 
    div.wrapper
        section.section.hero.hero__works 
            div.hero__header.hero__blog
                ul.social__list 
                    li.social__item 
                        a.social__link(href="#")
                            img(src="assets/images/vk.svg", alt="")
                    li.social__item 
                        a.social__link(href="#")
                        img(src="assets/images/github.svg", alt="")
                    li.socila__item 
                        a.social__link(href="#")
                            img(src="assets/images/in.svg", alt="")
                div.hero__menu 
                    div.drop 
                    div.drop 
                    div.drop
            div.dev__desc 
                div.dev__desc-avatar
                    img(src="assets/images/olim.jpg", alt="").dev__desc-pic
                div.dev__desc-name - БЛОГ -
                div.dev__desc-desc Статьи, которые я написал
            div.down 
            
    section.block 
        div.block-container
            div.block__nav 
                ul.block__list 
                    li.block__item 
                        a(href="#").block__link Самое важное в SASS
                    li.block__item 
                        a(href="#").block__link Приёмы в вёрстке, без которых не обходится ни один сайт
                    li.block__item 
                        a(href="#").block__link Самый необходимый набор Gulp плагинов
                    li.block__item 
                        a(href="#").block__link Почему я выбрал Jade
            div.block__content 
                h2.block__title Самое важное в SASS
                div.block__data 19 Февраль 2018
                p.block__text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                div.block__images 
                    img(src="assets/images/layer.jpg", alt="")
                hr.block__line 
                h2.block__title Приёмы в вёрстке, без которых не обходится ни один сайт
                div.block__data 12 Февраль 2018
                p.block__text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
    footer.footer
        ul.foot__list 
            li.foot__item 
                ul.footmenu__list 
                    li.footmenu__item
                        a(href="/my-works.html").footmenu__link Мои работы
                    li.footmenu__item
                        a(href="/about.html").footmenu__link Обо мне
                    li.footmenu__item
                        a(href="/blog.html").footmenu__link Блог
                    li.footmenu__item
                        a(href="/welcome.html").footmenu__link Авторизация
            li.foot__item 
                ul.foot__social-list 
                    li.foot__social-item 
                        a(href="#").foot__link 
                            img(src="assets/images/vk.svg", alt="")
                    li.foot__social-item 
                        a(href="#").foot__link 
                            img(src="assets/images/github.svg", alt="")
                    li.foot__social-item 
                        a(href="#").foot__link 
                            img(src="assets/images/in.svg", alt="")
        hr.line
        div.foot__descc 
            div.foot__desc-text Я веб-разработчик из Андижане, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
            div.foot__desc-info © Владимир Астахов | создано с любовью в LoftSchool | 2016
