extends ../template

block variables 
    - var title = 'Блок'

block content 
    h1 Блок 
    ul 
        li 
            h2 Загаловок статыи
            p Далеко-далеко за городом в стране ест хорошое человеки
        li
            h2 Загаловок статыи
            p Далеко-далеко за городом в стране ест хорошое человеки
        li 
            h2 Загаловок статыи
            p Далеко-далеко за городом в стране ест хорошое человеки
        li
            h2 Загаловок статыи
            p Далеко-далеко за городом в стране ест хорошое человеки