extends ../template 

block variables 
    - var title = 'Обо мне' 

block content 
    section.section__hero
        div.hero.hero__works 
            div.hero__header.hero__blog
                ul.social__list 
                    li.social__item 
                        a(href="#").social__link
                            img(src="assets/images/vk.svg", alt="").social__link--pic
                    li.social__item 
                        a(href="#").social__link
                            img(src="assets/images/github.svg", alt="").social__link--pic
                    li.social__item 
                        a(href="#").social__link
                            img(src="assets/images/in.svg", alt="").social__link--pic
                div.hero__menu 
                    div.drop 
                    div.drop 
                    div.drop
            div.down.block__down
                img.down__icon(src="assets/images/arrow_down.svg") 
            .box
                svg.traingle(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 85', preserveaspectratio='none')
                    polygon.left-traingle(points='0,0   0,86   500.8,86   500.8,75.5')
                    polygon.right-traingle(points='1000,0   1000,86   500,86   500,75.5') 
        div.portfolio
            img(src="assets/images/blog_header.svg", alt="").portfolio__pic
        div.user     
            div.user__avatar
                img(src="assets/images/olim.jpg", alt="").user__pic
            div.user__name - БЛОГ -
            div.user__text Статьи, которые я написал
    section.block 
        div.block-container
            div.block__nav 
                ul.block__list 
                    li.block__item.active
                        a(href="#").block__link Самое важное в SASS
                    li.block__item 
                        a(href="#").block__link Приёмы в вёрстке, без которых не обходится ни один сайт
                    li.block__item 
                        a(href="#").block__link Самый необходимый набор Gulp плагинов
                    li.block__item 
                        a(href="#").block__link Почему я выбрал Jade
            div.block__content 
                h2.block__title Самое важное в SASS
                div.block__data 19 Февраль 2018
                p.block__text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                div.block__images 
                    img(src="assets/images/layer.jpg", alt="").block__images-pic
                hr.block__line 
                h2.block__title Приёмы в вёрстке, без которых не обходится ни один сайт
                div.block__data 12 Февраль 2018
                p.block__text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
    footer.footer
        ul.foot__list 
            li.foot__item 
                ul.footmenu__list 
                    li.footmenu__item
                        a(href="/my-works.html").footmenu__link Мои работы
                    li.footmenu__item
                        a(href="/about.html").footmenu__link Обо мне
                    li.footmenu__item
                        a(href="/blog.html").footmenu__link Блог
                    li.footmenu__item
                        a(href="/welcome.html").footmenu__link Авторизация
            li.foot__item 
                ul.foot__social-list 
                    li.foot__social-item 
                        a(href="#").foot__link 
                            img(src="assets/images/vk.svg", alt="").foot__link-pic
                    li.foot__social-item 
                        a(href="#").foot__link 
                            img(src="assets/images/github.svg", alt="").foot__link-pic
                    li.foot__social-item 
                        a(href="#").foot__link 
                            img(src="assets/images/in.svg", alt="").foot__link-pic
        hr.line
        div.foot__descc 
            div.foot__desc-text Я веб-разработчик из Андижане, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
            div.foot__desc-info © Владимир Астахов | создано с любовью в LoftSchool | 2016
