extends ../template

block variables 
    - var title = 'Добро пожоловать'

block content
    div.wrapper 
        div.welcome 
            div.content 
                div.btn 
                    div.btn__name Авторизоваться
                div.window 
                    div.window__content 
                        div.dev .dev-desc 
                            div.dev-desc__avatar 