extends ../template

block variables 
    - var title = 'Добро пожоловать'

block content
    h1 Страница логин
    form 
        label(for="email") email
        input(name="email" id="email")
        label(for="password") password
        input(name="password" id="password")
        button Войти