extends ../template

block variables 
    - var title = 'Welcom'

block content
    div.wrapper 
        div.container
            div.content.welcom-content
                a.welcom__link(href="index.html") Авторизоваться
                div.info 
                    div.info__avatar 
                        img(src="assets/images/olim.jpg", alt="").info__avatar-pic
                    div.info__title 
                        h1.info__title-name Саттаров Олимжон
                        p.info__title-text Личный сайт веб разработчика
                    div.info__link 
                        a.info__link-social(href="#")
                            img(src="assets/images/vk.svg", alt="")
                        a.info__link-social(href="#") 
                            img(src="assets/images/github.svg", alt="")
                        a.info__link-social(href="#") 
                            img(src="assets/images/in.svg", alt="")
                    div.info__btn
                        a(href="my-works.html").info__button Мои работы
                        a(href="about.html").info__button Обо мне
                        a(href="blog.html").info__button Блог
                div.welcom__foot-text Саттаров Олимжон | создано с любовью | в LoftShool | 2018