* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100vh;
    background: #ccc;
}

@import 'common/menu';
@import 'common/technologies';
@import 'common/slider';
@import 'common/main';
@import 'common/welcom';