* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    min-height: 100vh;
    background: #ccc;
}
.wrapper {
    max-width: 1800vh;
    width: 100%;
    .container {
        display: flex;
        min-height: 100vh;
        align-content: center;
        justify-content: space-around;
        background: url("../images/login.jpg");
        background-size: cover;
        .content {
            width: 100%;
            padding: 10px 15px;
            
        }
        
    }
}

@import 'common/about';
@import 'common/blog';
@import 'common/my-works';
@import 'common/main';
@import 'common/welcom';
@import 'common/my';
@import 'common/map';
@import 'common/foot';
@import 'common/header';
@import 'common/reviews'
