.wrapper {
    min-width: 100%;
    .about {
        display: flex;
        height: 100vh;
        align-content: center;
        justify-content: space-around;
        background: url("../images/login.jpg");
        background-size: cover;
        .content {
            width: 1800px;
            display: flex;
            flex: wrap;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
        }
        
    }
}
