@import '../misc/media';

.about {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
}

// info block
.dev__desc {
    position: relative;
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: rem(70px);
    z-index: 4;
}
.dev__desc-avatar {
    width: rem(145px);
    height: rem(145px);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: rem(30px);
    .dev__desc-pic {
        height: rem(150px);
        width: auto;
        transform: rotate(180deg);
    }
}
.dev__desc-name {
    font-size: rem(35px);
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 2.832;
    text-align: center;
            
}
.dev__desc-desc {
    font-size: rem(16px);
    font-family: "Roboto";
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.5;
    text-align: center;
         
}
.down {
    text-align: center;
    margin-top: rem(150px);
}