@import '../misc/media';

a {
    text-decoration: none;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba($color: #000000, $alpha: 0.7);
    width: 100%;
    padding: rem(10px) rem(15px);
    margin-top: rem(-120px);
    box-sizing: border-box;
    .foot__list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.footmenu__list {
    display: flex;
    align-items: center;
    .footmenu__item {
        margin-right: rem(20px);
        .footmenu__link {
            font-size: rem(16px);
            font-family: "Roboto";
            color: rgb(255, 255, 255);
            line-height: 1.502;
            text-align: left;
        }
    }
}
.foot__social-list {
    width: rem(150px);
    display: flex; 
    align-items: center;
    justify-content: space-around;
    .foot__social-item {
        width: rem(40px);
        height: rem(40px);
        border-radius: 50%;
        border: rem(1px) solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.foot__descc {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .foot__desc-text {
        width: rem(585px);
        font-size: rem(13px);
        font-family: "Roboto";
        color: rgba(255, 255, 255, 0.502);
        line-height: 1.5;
        text-align: left;
    }
    .foot__desc-info {
        width: rem(400px);
        font-size: rem(13px);
        font-family: "Roboto";
        color: rgba(255, 255, 255, 0.502);
        line-height: 1.502;
        text-align: left;
    }
}
.line {
    width: 101%;
    margin-bottom: rem(10px);
    margin-top: rem(10px);
    
}