.hero {
    position: relative;
    width: 100%;
    min-height: 650px;
    background-image: url("../images/login.jpg");
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    .hero__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .hero__blog {
        width: 70%;
        margin: 0 auto;
    }
    .social__list {
        width: 200px;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .social__item {

            .social__link {
                text-decoration: none;
                height: 35px;
                width: 35px;
                
            }
        }
    }
    .hero__menu {
        display: inline-flex;
        margin-right: 20px;
        height: 35px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .drop {
            width: 45px;
            height: 7px;
            background: #fff;
            border-radius: 3px;
        }
    }
}


.box {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.traingle {
    display: block;
}
  
.traingle .left-traingle{
    fill: #faf8f0;
}
.traingle .right-traingle{
    fill: #faf8f0;
}
