@import '../misc/media';

.content {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: rem(380px);
    background: rgba($color: #e5efec, $alpha: 0.7);
    border-radius: rem(7px);
    padding-top: rem(10px);
    .title__form {
        margin-bottom: rem(30px);
        font-size: rem(35px);
        font-family: "BERNIERRegular";
        color: rgb(69, 90, 100);
        line-height: 1.171;
        text-align: center;
        
    }
}

.form__name, .form__password  {
    display: flex;
    align-content: center;
    .form__avatar {
        height: rem(37px);
        box-sizing: border-box;
        padding: rem(9px) rem(10px);
        overflow: hidden;
        border-top-left-radius: rem(5px);
        border-bottom-left-radius: rem(5px);
        background: rgba($color: #c3bd9a, $alpha: 0.6);

    }
}



.form__img {
    width: rem(16px);
    height: rem(16px);
    background-size: 100%;
}

.input {
    width: rem(295px);
    border-bottom-right-radius: rem(5px);
    border-top-right-radius: rem(5px);
    margin-bottom: rem(20px);
    padding: rem(8px);
    border-style: none;
    border: rem(1px) solid transparent;
    box-sizing: border-box;
    &:hover {
        border: rem(1px) solid #00bfa5;
    }
}


//form checkbox
.form__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: rem(20px);
    &:hover .checkbox__fake {
        border: rem(1.5px) solid #00bfa5;
    }
    .checkbox__title{
        margin-left: rem(5px);
    }
}
.checkbox__fake {
    width: rem(16px);
    height: rem(16px);
    position: relative;
    position: relative;
    border: rem(1.5px) solid #aeb0b1;
    border-radius: rem(2px);
    margin-right: rem(10px);
    box-sizing: border-box;
    &:hover{
        border: rem(1.5px) solid #00bfa5;
    }
    &:after{
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        top: 10%;
        left: 30%;
        transform: translate(-50%, -50%);
        transition: width .3s, height .3s;
    }
}
.checkbox__title {
    font-size: rem(16px);
    font-family: "Roboto";
    color: rgba(69, 90, 100, 0.8);
    line-height: 1.5;
    text-align: center;
    
}
.form__text {
    font-size: rem(16px);
    font-family: "Roboto";
    color: rgba(69, 90, 100, 0.8);
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
        
}
.checkbox__elem:checked {
    &+.checkbox__fake {
        background:#00bfa5;
        border: none;
        &:after {
            width: rem(5px);
            height: rem(9px);
            transform: rotate(45deg);
            border-bottom: rem(2px) solid  #fff;
            border-right: rem(2px) solid #fff;
        }
    }
}


// form order
.form-order {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    .order__radio {
        display: flex;
        align-items: center;
        margin: rem(20px);
        &:hover  .order__radio-fake {
            border: rem(1.5px) solid #00bfa5;
        }
    }
}
.order__radio-elem, .checkbox__elem {
    position: absolute;
    top: 0;
    left: rem(-9999px);
}
.order__radio-fake {
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    position: relative;
    border: rem(1.5px) solid #aeb0b1;
    margin-right: rem(10px);
    box-sizing: border-box;
    
    &:after{
        content: ""; 
        display: block;
        position: absolute;
        width: rem(0px);
        height: rem(0px);
        border-radius: 50%;
        background: #00bfa5;
        transition: width .3s, height .3s;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.order__radio-title {
    font-size: rem(16px);
    font-family: "Roboto";
    color: rgba(69, 90, 100, 0.8);
    line-height: 1.5;
        
}
.order__radio-elem:checked {
    &~.order__radio-title {
        color: #00bfa5;
    }
    &+.order__radio-fake {
        &:after {
            width: rem(8px);
            height: rem(8px);
        }
    }
}

// form btn
.form__btn{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    &:first-child{
        border-bottom-left-radius: rem(7px);
    }
    &:last-child{
        border-bottom-right-radius: rem(7px);
    }
    .form__button{
        position: relative;
        width: 50%;
        padding: rem(10px);
        border-right: rem(2px) solid rgb(154, 172, 173);
        color: #fff;
        background: rgba($color: #00bfa5, $alpha: 0.5);
        text-decoration: none;
        text-align: center;
        font-size: rem(16px);
        font-family: "Roboto";
        color: rgb(255, 255, 255);
        line-height: 2.25;
        &:hover {
            background: rgba($color: #0073bf, $alpha: 0.5);
        }
        
    }
    
}
.form__button:last-child{
    border-right: none;
}