@import '../misc/media';

.work-slider {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background: #efeee9;
    overflow: hidden;
    .slider__content-title {
        background-image: url('../images/works_header.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 50%;
        @include tablets {
            width: rem(400px);
        }
        @include phones {
            width: 75%;
        }
        .slider__title {
            font-size: rem(63px);
            font-family: "BERNIERRegular";
            color: rgb(55, 62, 66);
            line-height: 0.889;
            text-align: center;
           
        }
    }
}
.slider__content-work {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: rem(570px);
    box-sizing: border-box;
    flex-wrap: wrap;
    @include retina {
        height: rem(70px);
    }
    @include tablets {
        flex-direction: column;
        flex-wrap: wrap;
    }
    @include phones {
        flex-direction: column;
        flex-wrap: inherit;

    }
    .slider__work {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f0efe9;
        @include tablets {
            width: 100%;
            padding: rem(30px) 0;
        }
        @include phones {
            width: 100%;
            padding: rem(30px) 0;
        }
        .slider__nav {
            width: 60%;
            display: flex;
            align-items: center;
            flex-direction: column;
            @include retina {
                margin: auto;
            }
            .slider__nav-title {
                font-size: rem(35px);
                font-family: "BERNIERRegular";
                color: rgb(69, 90, 100);
                line-height: 1.171;
                text-align: center;
                 margin-bottom: rem(30px);    
            }
            .slider__line {
                width: 100%;
                border: rem(1px) solid #00bfa5;
            }
            .slider__text {
                font-size: rem(16px);
                font-family: "Roboto";
                color: rgb(32, 181, 161);
                line-height: 1.2;
                text-align: center;
                margin: rem(15px);
            }
            .slider__link {
                display: flex;
                align-items: center;
                padding: rem(5px) rem(15px);
                background: #00bfa5;
                border-radius: rem(5px);
                margin-top: rem(30px);
                .slider__link-text {
                    font-size: rem(16px);
                    font-family: "Roboto";
                    color: rgb(255, 255, 255);
                    line-height: 2.257;
                    text-align: center;
                        
                }
                &:hover {
                    background: #019b86;
                }
            }
        }
    }
}
 
.slider__info-pic {
    display: flex;
    background: #efebe0;
    width: 50%;
    height: 70%;
    align-items: center;
    justify-content: center;
    @include tablets{
        width: 100%;
        height: rem(400px);
        order: -1;
    }
    @include phones {
        width: 100%;
        height: rem(400px);
        order: -1;
    }
    .slider__info-images {
        width: rem(600px);
        background-size: 100%;
    }
}
.slider__info-slider {
    display: flex;
    align-items: center;
    width: 50%;
    height: 30%;
    margin-left: auto;
    @include tablets {
        width: 100%;
        height: 50%;
    }
    @include phones {
        width: 100%;
        height: 50%;
    }
    .slider__info-img {
        width: 50%;
        height: 100%;
    }
}
