@import '../misc/media';

.reviews {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../images/bg.png');
    background-color: #ffffff;
    background-size: cover;
    padding: rem(10px) 0 rem(150px);
    @include tablets {
        padding-bottom: rem(200px);
    }
    @include phones {
        padding-bottom: rem(200px);
    }
    .reviews__content-title {
        position: relative;
        width: 35%;
        margin-bottom: rem(50px);
        @include retina {
            width: rem(500px);
        }
        @include tablets {
            width: rem(400px);
        }
        @include phones {
            width: 75%;
            margin-bottom: rem(10px);
        }
        .reviews__title {
            font-size: rem(63px);
            font-family: "BERNIERRegular";
            color: rgb(55, 62, 66);
            line-height: 1.048;
            text-align: center;
            &:before {
                content: "";
                position: absolute;
                display: block;
                width: 450px;
                height: 150px;
                background-image: url('../images/works_header.svg');
                background-repeat: no-repeat;
                background-size: 100%;
                top: 0;
                left: 0;
                opacity: 0.3;
            }
        }
    }
    .reviews__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        @include retina {
            width: 70%;
        }
        @include tablets {
            width: 94%;
        }
        @include phones {
            flex-direction: column;
            width: 90%;
        }
        .reviews__item {
            display: flex;
            width: 47%;
            align-items: flex-start;
            flex-direction: column;
            @include phones {
                width: 100%;
                align-items: center;
            }
            .reviews__item-text {
                font-size: rem(16px);
                font-family: "Roboto";
                color: rgb(69, 90, 100);
                line-height: 1.625;
                text-align: left; 
                margin: rem(10px) 0;
            }
            .reviews__item-avatar {
                display: flex;
                align-items: center;
                margin-right: auto;

                .item-avatar {
                    width: rem(80px);
                    height: rem(80px);
                    border-radius: 50%;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 5%;
                }
                .item-text {
                    width: rem(180px);
                    font-size: rem(16px);
                    font-family: "Roboto";
                    color: rgb(32, 181, 161);
                    font-weight: bold;
                    line-height: 1.5;
                    text-align: left;
                }
            }
        }
    }
}
.myform {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: rem(380px);
    box-sizing: border-box;
    border-radius: rem(5px);
    overflow: hidden;
    padding: 0;
    margin: rem(180px) 0 rem(0px);
    background-image: url("../images/razmit.jpg");
    .myform__title {
        width: 90%;
        font-size: rem(35px);
        font-family: "BERNIERRegular";
        color: rgb(69, 90, 100);
        line-height: 1.171;
        text-align: center;
            
    }
    .myform__input {
        border-radius: rem(5px);
        background-color: rgb(255, 255, 255);
        width: 90%;
        // height: rem(45px);
        border-style: none;
        margin-bottom: rem(20px);
        padding: rem(15px);
        box-sizing: border-box;
    }
    .myform__textarea {
        border-radius: rem(5px);
        background-color: rgb(255, 255, 255);
        width: 90%;
        height: rem(140px);
        border-style: none;
        margin-bottom: rem(20px);
        padding: rem(15px);
        box-sizing: border-box;
    }
}
.btn {
    width: 100%;
    display: flex;
    align-items: center;
    .myform__btn {
        width: 50%;
        text-align: center; 
        padding: rem(8px) 0;
        font-size: rem(16px);
        font-family: "Roboto";
        color: rgb(255, 255, 255);
        line-height: 2.257;
        text-align: center;
        background: #26bba9;
        border-style: none;
        &:hover {
            background: #26908e;
        }
    }
    .first {
        border-right: rem(1px) solid silver;
        border-bottom-left-radius: rem(5px);
    }
    .last {
        border-bottom-right-radius: rem(5px);
        border-left: rem(1px) solid silver;
    }
}
.up {
    margin: rem(50px) 0 rem(30px) 0;
    opacity: 0.4;
    &:hover {
        opacity: 1;
    }
    .down__icon {
        width: rem(24px);
        height: rem(24px);
    }
}