@import '../misc/media';

.section__hero {
    max-width: 1800vh;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

// info portfolio 
.portfolio {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    opacity: 0.3;
    .portfolio__pic {
        max-width: 100%;
    }
}

// info user
.user{
    position: absolute;
    display: flex;
    width: 50%;
    padding: rem(20px);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: rem(70px);
}
.user__avatar {
    width: rem(145px);
    height: rem(145px);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: rem(30px);
    .user__pic {
        height: rem(150px);
        width: auto;
        transform: rotate(180deg);
    }
}
.user__name {
    font-size: rem(35px);
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-align: center;
    @include tablets {
        font-size: rem(24px);
    }
    @include phones {
        font-size: rem(22px);
        margin-bottom: rem(20px);
    }
            
}
.user__text {
    font-size: rem(16px);
    font-family: "Roboto";
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    @include phones {
        font-size: rem(13px);
    }   
}



// down 
.down {
    text-align: center;
    margin-top: rem(150px);
}