
.wrapper {
    min-width: 100%;

    .welcome {
        display: flex;
        height: 100vh;
        align-content: center;
        justify-content: space-around;
        background: url("../images/login.jpg");
        background-size: cover;
    }
}
.content {
    width: 1800px;
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.head__link {
    color: #fff;
    border: 1.5px solid #fff;
    border-radius: 5px;
    padding: 10px 14px;
    text-decoration: none;
    margin-left: auto;
    &:hover {
        border: 1.5px solid #115a50;
        color: #00bfa5;
    }
}


// info block
.info {
    display: flex;
    flex: wrap;
    align-items: center;
    flex-direction: column;
    width: 380px;
    background: rgba($color: #e5efec, $alpha: 0.7);
    border-radius: 7px;
    padding-top: 45px;
    
}
.info__avatar {
    width: 145px;
    height: 145px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 30px;
    .info__avatar-pic {
        height: 150px;
        width: auto;
        transform: rotate(180deg);
    }
}
.info__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    .info__title-name {
        margin-bottom: 10px;
    }
}
.info__link {
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    .info__link-social {
        text-decoration: none;
        
    }
}


// info btn
.info__btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    a{
        padding: 10px;
        border-style: none;
        flex-grow: 1;
        color: #fff;
        background: rgba($color: #00bfa5, $alpha: 0.5);
        text-decoration: none;
        &:hover {
            background: rgba($color: #0073bf, $alpha: 0.5);
        }
    }
}
.info__button{
    border-bottom-left-radius: 7px;
    position: relative;
    flex-grow: 2;
    &:after{
        content: "";
        display: block;
        position: absolute;
        height: 33px;
        border: 1px solid rgb(154, 172, 173);
        left: 100%;
        top: 0;
        z-index: 2;
    }
    &:nth-child(2) {
        border-bottom-left-radius: 0;
    }
    &:last-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 7px;
        &:after {
            display: none;
        }
    }
}
.foot {
    color: #fff;
}



