@import '../misc/media';

.welcom-content {
    justify-content: space-around;
    position: absolute;
    width: 100%;
}
.welcom__link {
    font-size: rem(16px);
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 2.257;
    text-align: center;
    border: rem(1.5px) solid #fff;
    border-radius: rem(5px);
    padding: rem(7px) rem(14px);
    text-decoration: none;
    margin-right: 3%;
    margin-left: auto;
    &:hover {
        border: rem(1.5px) solid #149e8c;
        color: #00bfa5;
    }
}


// info block
.info {
    display: flex;
    flex: wrap;
    align-items: center;
    flex-direction: column;
    width: rem(380px);
    background: rgba($color: #e5efec, $alpha: 0.7);
    border-radius: rem(7px);
    padding-top: rem(45px);
}
.info__avatar {
    width: rem(145px);
    height: rem(145px);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: rem(30px);
    .info__avatar-pic {
        height: rem(150px);
        width: auto;
        transform: rotate(180deg);
    }
}
.info__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: rem(20px);
    .info__title-name {
        margin-bottom: rem(10px);
        font-size: rem(28px);
        font-family: "Roboto";
        color: rgb(69, 90, 100);
        line-height: 1.214;
        text-align: center;
    }
    .info__title-text {
        font-size: rem(16px);
        font-family: "Roboto";
        color: rgba(69, 90, 100, 0.8);
        line-height: 1.5;
    }
}
.info__link {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: rem(20px);
    .info__link-social {
        text-decoration: none;
        
    }
}


// info btn
.info__btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    .info__button {
        font-size: rem(16px);
        font-family: "Roboto";
        color: rgb(255, 255, 255);
        line-height: 2.25;
        padding: rem(10px);
        flex-grow: 1;
        background: rgba($color: #00bfa5, $alpha: 0.5);
        text-decoration: none;
        &:hover {
            background: rgba($color: #0073bf, $alpha: 0.5);
        }
    }
}
.info__button{
    border-bottom-left-radius: rem(7px);
    position: relative;
    flex-grow: 2;
    border-right: rem(2px) solid rgb(154, 172, 173);
    &:nth-child(2) {
        border-bottom-left-radius: 0;
    }
    &:last-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: rem(7px);
        border-right: none;
    }
}
.welcom__foot-text {
    font-size: rem(16px);
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 6.285;
    text-align: center;
}



