@import '../misc/media';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


body {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: rem(16px);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    line-height: 1.42;

}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #ccc;
    @include retina {
        font-size: rem(16px);
    }
    @include tablets {
        font-size: rem(14px);
      }
    
      @include phones {
        font-size: rem(12px);
      }
}

.wrapper {
    max-width: rem(1800px);
    height: 100vh;
    display: block;
    position: relative;
    overflow: hidden;
    .wrap__bg {
        position: absolute;
        width: 100%;
        height: rem(770px);
        display: flex;
        &:nth-child(2) {
            top: 25%;
        }
        &:nth-child(3) {
            top: 25%;
        }
        &:nth-child(4) {
            top: 5%;
        }
        &:nth-child(5) {
            top: 30%;
        }
        &:nth-child(6) {
            top: 30%;
        }
        &:nth-child(7) {
            transform: rotate(90deg);
            top: 70%;
        }
        &:nth-child(8) {
            top: 60%;
        }
        &:nth-child(9) {
            top: 35%;
        }
        &:nth-child(10) {
            top: 25%;
        }
        .wrap__bg-pic {
            max-width: 100%;
            min-height: rem(300px);

        }
    }
}

